@font-face {
    font-family: amaticSC;
    src: url(font/Amatic_SC_Regular/AmaticSC-Regular.woff);
}

body 
{
    background-image: url(Stock_Photos_licened/desk-notebook-pen-writing.jpg);
    background-attachment: absolute, no-repeat;
    background-color: white;
    background-size: 100% 100%;
    margin: 0;
    margin-top: 70px;

/* for Amatic font*/
    font-family: amaticSC;
    font-style: normal;
    font-variant: normal;
    font-weight: 1000;
}